*.DS_Store*
terraform/releases
terraform/utility
/terraform/*release*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.lock.hcl
/terraform/.terraform*
terraform/output.tfnah
/terraform/*tfstate*
terraform/terraform.tfstate.d*
terraform/data/*/graveyard*
terraform/script.ps1
terraform/pat-hines.tfvars
terraform/curtis-terraform.tfvars
terraform/kyle-terraform.tfvars
terraform/data/flows/temp/PingOne Authorize Flow.json
